html {font-family:'neo sans', arial, sans-serif}
* {position: relative;}

.vision h1 {
    width: 50%;
}

.highlight {
    color: hsla(200, 87%, 37%, 1);
}

img.pen-pic {
    border-radius: 100%;
    border-spacing: 20px;
    border: solid 2px #ffffff69;
    padding: 6px;
    max-width: 101px;
    float: left;
    margin-right: 55px;
    margin-bottom: 200px;
    margin-top: 2rem;
}

section.quote {
    padding: 6rem;
    margin-top: 6em;
}

blockquote::before {/* content: '"'; */position: absolute;font-size: 5rem;left: 1px;top: -37px;font-family: serif;}

blockquote {
    width: 80%;
    color: white;
    line-height: 1.6;
    font-size: 1.5em;
    font-style: italic;
    display: block;
    /* padding: 6rem; */
    /* margin: 101px auto 0 auto; */
}

span.quote-role {
    font-style: normal;
    color: #ffffffb3;
    font-size: 0.9em;
}

span.quote-name {
    font-style: normal;
}

blockquote:before {}

section.vision.white.alternate {
    width: 42%;
    margin-left: 44%;
}

p.callout {
    line-height: 1.75;
    color: #4e4e4e;
    width: 40%;
}

img.standout {
    width: 40%;
    position: absolute;
    right: 0;
    top: 44px;
    box-shadow: hsla(200, 88%, 28%, 1) 9px 9px 0px;
}

img {}

p {}
a {text-decoration: none;}

img.main-logo {position: absolute;z-index:3; width:200px; padding: 1.2rem 3rem 3rem 4rem;}
.main-video {display:flex;position:relative; align-items:center}
.main-video video {max-width:100%;display:block}
.main-video::before { content:''; background:rgba(0, 0, 0, 0.5); width:100%; height:100%; position:absolute;left:0;top:0;z-index:1}

.main-story-text {background:none; z-index:2;
    color: #fff;
    text-align: left;
    width: 40%;
        position: absolute;
    left: 0;
    right: 0;
    padding:5rem;}
    .main-story-text h1 {font-size:2.5rem; font-weight:400; margin-top:0.2em}
    .main-story-text a {color:white;text-transform: uppercase;letter-spacing:0.2em; font-weight:500; font-family: interstate, arial, sans-serif;}
    .main-story-text p {font-family:Arial, Helvetica, sans-serif; line-height:2em; font-size:1.2rem}
.small-header {color:#00CBD1; text-transform: uppercase;letter-spacing:0.2em; font-weight:500; font-family: interstate, arial, sans-serif;}

nav {font-family:interstate, arial, sans-serif;font-weight:500;text-align:right;text-transform: uppercase;color:white;position:absolute;z-index:5;text-decoration:none;right:3rem;cursor: pointer;}
nav ul {list-style-type: none; display:flex;text-align:right; padding-top:1rem}
nav ul li {padding: 0 1rem}

.updates {
    display: flex;jyjytjytj
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    overflow: hidden;
    margin-left: 5%;
    margin-top: 50px;
    z-index: 9999999999999999999;
    /* background: #072431; */
    }
.update-box {
    flex: 1 0 20%;
    flex-grow: 2;
    margin: 20px;
    /* border-radius: 20px; */
    z-index: 9;
    background: hsla(199, 75%, 20%, 1);
    /* margin-top: -30px; */
    z-index: 99999999;
    /* border-top-left-radius: 35px; */
    /* border-bottom-right-radius: 45px; */
    box-shadow: hsla(199, 75%, 6%, 0.48) 1px 6px 24px;
    cursor: pointer;
    }
.update-box img {max-width:100%;/* border-radius:20px; */opacity: 0.9;display:block;margin-top: -21%;border-top-left-radius: 20px;border-top-right-radius: 20px;}
.update-box-text {
    /* position: absolute; */
    bottom: 0px;
    padding: 30px;
    color: white;
    /* font-weight: 300; */
    font-size: 0.6em;
    line-height: 1.5;
    }
.update-box-text h2 {font-weight:400; margin-top:0.2em; font-size:1.7em}
.update-box .small-header {color: rgb(97, 250, 255);font-size:1.4em;font-weight:500;}
.update-box .small-header.date {color: rgba(255, 255, 255, 0.75);font-size:1.1em;font-weight:400;}

section.white {background:white;padding: 7rem;width: 80%;margin-left: 6em;margin-top: 3rem;border-left: solid 10px hsla(200, 87%, 38%, 1);/* border-bottom: solid 10px #095c86; */}